:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --acent: #e7e9fc;
  --light: #f4f4fd;
  --modal-overlay: #2e2f42;
  --hero-background: #2e2f42;
  --white-background: #ffffff;
  --modal-background: #fcfcfc;
}

a {
  text-decoration: none;
  color: inherit;
  font-style: normal;
}

ol,
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
  background-color: var(--white-background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

/* HEADER */

.header {
  border-bottom: 1px solid var(--acent);
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation {
  display: flex;
  margin-right: auto;
  align-items: center;
}
.logo-header,
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);
}

.logo-header {
  margin-right: 76px;
  padding: 24px 0;
}

.header-studio {
  color: var(--dark);
}

.nav-list-item {
  font-weight: 500;
}

.nav-list-item:not(:last-child) {
  margin-right: 40px;
}

.nav-list {
  display: flex;
}

.nav-link {
  color: var(--dark);
  padding: 24px 0;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--pressed-state);
}

.nav-link.active {
  color: var(--pressed-state);
  text-decoration: underline solid var(--pressed-state);
}

.contact-item:hover,
.contact-item:focus {
  color: var(--pressed-state);
}

.contact-list {
  display: flex;
}

.contact-list-item:not(:last-child) {
  margin-right: 40px;
}

.contact-list-item {
  padding: 24px 0;
}

.contacts {
  margin-left: auto;
}
/* HERO */

.hero {
  background-color: var(--dark);
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-title {
  max-width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white-background);
  text-align: center;
  margin: 0 auto 48px auto;
}

.hero-button {
  display: block;
  margin: auto;
  font-weight: 500;
  line-height: inherit;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-background);
  background-color: var(--primary-brand);
  cursor: pointer;
  min-width: 169px;
  min-height: 56px;
  border: none;
  border-radius: 4px;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--pressed-state);
}

.subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
  background-color: var(--white-background);
  margin-bottom: 8px;
}

/* BENEFITS */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefit-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.benefit-item {
  flex-basis: calc((100% - 72px) / 4);
}

.benefit-item:not(:nth-child(4n)) {
  margin-right: 24px;
}

.benefit-subtitle {
  text-align: start;
}

/* OUR TEAM */

.team {
  background-color: var(--light);
}
.team-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: var(--dark);
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list-item {
  display: flex;
  flex-basis: calc((100% - 72px) / 4);
  background-color: var(--white-background);
  flex-direction: column;
  align-items: center;
  border-radius: 0px 0px 4px 4px;
  min-width: 264px;
}

.team-list-item:not(:nth-child(4n)) {
  margin-right: 24px;
}

.team-member {
  padding: 32px 0;
  text-align: center;
}

/* PORTFOLIO */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
    /* margin-left: -24px;
    margin-top: -48px; */
}

.portfolio-list-item {
  display: flex;
  flex-direction: column;
  flex-basis: calc(100% / 3 - 24px);
  min-width: 360px;
  /* margin-left: 24px;
  margin-top: 48px; */
}

.portfolio-list-item:not(:nth-child(3n)) {
  margin-right: 24px;
}

.portfolio-list-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 48px;
}

.border {
  padding: 32px 16px;
  border-bottom: 1px solid var(--acent);
  border-right: 1px solid var(--acent);
  border-left: 1px solid var(--acent);
}
/* FOOTER */
.footer {
  background-color: var(--dark);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-studio,
.footer-text {
  color: var(--light);
}

.footer-text {
  width: 264px;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}

svg:hover > path {fill: red;}